@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@600&display=swap');

:root {
    --box-shadow: 1px 1px 2px;
    --background-color: lightblue;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

h1 {
    text-shadow: var(--box-shadow);
    font-size: 50px;
    font-family: "Ranchers", cursive;
    opacity: 80%;
}

.picture-container {
    position: relative;
    transition-duration: 1s;
    margin-bottom: 30px;
}

.picture {
    opacity: 95%;
    border: 1px var(--background-color);
    border-radius: 20px;

    width: 600px;
    height: auto;
    box-shadow: var(--box-shadow);
    transition-duration: 1s;
}

.picture-text {
    font-family: 'Truculenta', sans-serif;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-color);
    color: grey;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.picture-container:hover .picture {
    opacity: 15%;
}

.picture-container:hover .picture-text {
    visibility: visible;
    opacity: 1;
}

button {
    margin: 5px;
    width: 200px;
    height: 30px;
    font-weight: 500;
    border: 2px solid gray;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    font-family: 'Truculenta', sans-serif;
}

button:hover {
    background-color: darkcyan;
    color: white;
    transition-duration: 1s;
}

#error {
    font-size: 50px;
    border: dotted 2px;
    border-radius: 3px;
    background-color: aquamarine;
    box-shadow: var(--box-shadow);
    padding: 15px;
    margin: 40px;
    font-family: 'Truculenta', sans-serif;
}

#input {
    box-shadow: var(--box-shadow);
    font-family: 'Truculenta', sans-serif;
    width: 250px;
    height: 30px;
}

#content {
    margin: 16px;
    display: inline-grid;
    justify-content: center;
    row-gap: 16px;
    column-gap: 16px;
    max-width: 750px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    'flag name'
    'info info';
}

#flag-image {
    grid-area: flag;
    width: 200px;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
}

#country-name-header {
    grid-area: name;
    font-family: "Ranchers", cursive;
    font-size: 50px;
    align-self: center;
    text-shadow: var(--box-shadow);
}

.information {
    grid-area: info;
    border: dotted 2px blue;
    border-radius: 3px;
    background-color: aquamarine;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    padding: 15px;
    font-family: 'Truculenta', sans-serif;
}

.hide {
    display: none;
    opacity: 0;
}

#country-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    border-radius: 3px;
    background-color: aquamarine;
    font-size: 20px;
    box-shadow: var(--box-shadow);
    padding: 15px;
    font-family: 'Truculenta', sans-serif;
}

.list-item {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    'flag-icon country-name-small'
    'populous populous';
    height: auto;
    border: dotted 2px blue;
    border-radius: 3px;
    padding: 4px;
    margin: 4px;
}

.flag-icon {
    width: 50px;
    height: auto;
    grid-area: flag-icon;
}

.hidden-pop {
    grid-area: populous;
    font-size: 13px;
    opacity: 0;
}

.shown-pop {
    grid-area: populous;
    font-size: 13px;
    opacity: 1;
}

.north-america {
    color: hsl(119, 27%, 40%);
    grid-area: country-name-small;
    cursor: pointer;
}

.south-america {
    color: hsl(139, 43%, 59%);
    grid-area: country-name-small;
    cursor: pointer;
}

.asia {
    color: hsl(354, 59%, 56%);
    grid-area: country-name-small;
    cursor: pointer;
}

.oceania {
    color: hsl(288, 43%, 53%);
    grid-area: country-name-small;
    cursor: pointer;
}

.africa {
    color: hsl(222, 47%, 55%);
    grid-area: country-name-small;
    cursor: pointer;
}

.europe {
    color: hsl(47, 100%, 60%);
    grid-area: country-name-small;
    cursor: pointer;
}

.antarctic {
    color: white;
    grid-area: country-name-small;
    cursor: pointer;
}
.no-continent {
    grid-area: country-name-small;
    cursor: pointer;
}